<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <script src="js/jquery.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8008/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://localhost:8008/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="http://localhost:8008/css/styles.css" />        
    </head>
    <body>

