<% include header %>

         <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog with Express</a>
          </div>


              <% if (!isLogin) { %>
          <div class="navbar-collapse collapse pull-right" style="margin-top: 7px;">
            <a href="/login"><button type="submit" class="btn btn-success">Login</button></a>
            <a href="/register"><button type="submit" class="btn btn-success">Register</button></a>
          </div>
          </div>
          </div>
          <div class="container text-center">
<h3 style="color: red;">Cannot access to post new post. Please login to post new article.</h3>
</div>
          <% } else { %>
             <div class="dropdown">
              <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" style="margin-top: 15px; text-decoration: none;"> <%- user %> <span class="caret"></span></a>
              <ul class="dropdown-menu pull-right" role="menu" style="margin-top: 37px;">
                <li><a href="/posts">New Post</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
                         </div>
                 </div>

        <div class="container">
        <h1>Post an article</h1>
        <%- message %>
        <form action="/posts" method="POST" role="form">
              <div class="form-group">
                   <label for="title">Title</label>
                   <input id="title" class="form-control" name="title" type="text" placeholder="title of your post" />
              </div>
              <div class="form-group">
                   <select name="author">
                   <% author.forEach(function (authors) {%>
                   <option><%= authors.username  %></option>
                   <% }) %>
                   </select>
                   
                   <select name="categories">
                   <% catname.forEach(function (cat) { %>
                   <option><%= cat.cat_name %></option>
                   <% }) %>
                   </select>
              </div>

              <div class="form-group">
                   <label for="slug">Slug</label>
                   <input id="slug" class="form-control" name="slug" type="text" placeholder="slug your post" />
              </div>
              <div class="form-group">
                   <label for="text">Text</label>
                   <textarea id="text" class="form-control" name="text" row="5" placeholder="Content your post"></textarea>
              </div>
              <p><button class="btn btn-primary" type="submit">Save</button></p>
        </form>
    </div>
    <% } %>


<% include footer %>
